body {
    margin: 0;
    padding: 0;
}

nav {
    grid-area: menu;
    background: #14377d;
    color: white;
    padding: 10px;
    position: relative;
}


section {
    grid-area: section;
    background-color: rgb(4, 4, 91);
    color: white;
    padding: 5px;
    text-align: center;

}

form {
    grid-area: form;
    background-color: rgb(195, 195, 195);
    text-align: center;
    height: 100px;
    padding: 10;

}

form select {
    width: 100%;
    height: 40px;

}

main {
    grid-area: sección-principal;
    padding: 10px;
}


footer {
    grid-area: pie-de-pagina;
    background: white;
    color: black;
    padding: 10px;
    text-align: center;
}



@media (max-width: 576px) {
  

    nav ul {
        display: none;
    }

    nav h1 {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }

    .desafio3 {
        display: grid;
        grid-template-rows: 75px 110px ;
        grid-template-areas:
            "menu"
            "form"
            "sección-principal"
            "pie-de-pagina"
            "section";
    }



}


@media (min-width: 576px) {

    nav div .dropbtn {
        display: none;
    }

    nav {
        height: 725px;
    }

    nav h1 {
        text-align: center;

    }

    nav ul {
        text-align: center;
    }

    section {
        size: 500px;
    }

  

    .desafio3 {
        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-areas:
            "menu form"
            "menu sección-principal"
            "section pie-de-pagina";

    }


}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}


.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}

body {
    background: #f4f4f4;
}